<div class="message">
  <div class="message-info">
    <div class="user-name">
      <!-- 投稿したユーザー名情報を出力する -->
      SABA
    </div>
    <div class="time">
      <!-- 投稿した時刻を出力する -->
      <%= l message.created_at %>
    </div>
  </div>
  <div class="message-content">
    <!-- 投稿したメッセージ内容を記述する -->
    おつかれさま
  </div>
</div>